/* ALL page style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;


}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


/* Common style */

.container{
    width: calc(100% - 330px);
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


/* Header style */

.menu-icon{
    display: none;
}
.header{
    padding: 21.84px 0;
}
.header .row{
    justify-content: space-between;
}

.menu ul{
    display: flex;
    gap: 60px;
}
.menu a{
    color: #3A3845;

}
.icons ul{
    display: flex;
    gap: 24px;
}

/* Hero section style */

.slider{
    height: 642px;
    padding: 0 165px;
    background-image: url('../imgs/herobanner.png');
}
.content{
    display: flex;
    flex-direction: column;
    width: 420px;
    gap: 42px; ;
    height: inherit;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #826F66;
    color: white;
}
.hero_text h1{
    margin-top: 20px;
    font-family: Garamond, serif;
}
.hero_text p{
    font-family: Inter, sans-serif;
    font-size: 16px;
}
.btn{
    background-color: white;
    width: 220px;
    height: 40px;
}

.btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #3A3845;
   
}

/* Collections style */

.collections{
    padding: 80px 0;
}
.collections .row{
    gap: 30px;
}

.collection{
    width: calc((100% - 90px) / 4);
    text-transform: uppercase;
    text-align: center;
    color: #3A3845;


}
.collection img{
    width: 100%;
}
.collection h4{
    margin-top: 24px;
}

/* Best sellers style */


.sellers{
    padding-bottom: 80px;
    color: #3A3845;
}
.best-sellers{
    text-align: center;
    margin-bottom: 48px;
}
.product{
    display: flex;
    flex-direction: column;
    width: calc((100% - 90px) / 4);
    gap: 24px;
    font-size: 14px;
    
}
.product img{
    width: 100%;
}
.product-info{
    text-transform: uppercase;
    font-weight: 600;

}
.product-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-details{
    color: #807F86;
    font-weight: 400;
}
.sellers .row{
    row-gap: 40px;
    column-gap: 30px;
}

.btn-cart{
    width: 100%;
    height: 39px;
    background-color: white;
    border: 1px solid #3A3845;
    color: #3A3845;
    font-size: 12px;
    font-weight: 600;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media Query */

@media screen and (min-width: 320px) and (max-width: 991px) {
    .menu{
        display: none;
    }
    .icon-hidden{
        display: none;
    }
    .container{
        width: calc(100% - 40px);
    }
    .menu-icon{
    display:block;
}
}





